body {
    font-size: 1.25rem;
    --normal-font-weight: 400;
    --extra-font-weight: 600;
    --heavy-font-weight: 800;


    --purple: rgb(135, 0, 170);
    --violet: rgb(142, 27, 222);
    --pink: rgb(232, 18, 97);
}

body::-webkit-scrollbar {
    /* width: 8px;
    height: 8px; */
    display: none;
}


.svg-whitened {
    filter: invert(86%) sepia(7%) saturate(160%) hue-rotate(202deg) brightness(96%) contrast(89%);
}

.svg-magical {
    /* #ffcc00 */
    filter: brightness(0) saturate(100%) invert(80%) sepia(56%) saturate(2700%) hue-rotate(357deg) brightness(106%) contrast(109%);
}

.fancy-font-letter {
    font-family: "Pacifico", cursive !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
    font-size: x-large !important;
    color: white !important;
    text-transform: lowercase !important;
}

.fancy-font-number {
    font-family: "Delius", cursive !important;
    font-weight: var(--normal-font-weight) !important;
    color: white !important;
    font-style: normal !important;
}

*:lang(English) {
    font-family: "Playwrite NZ Basic", cursive !important;
    font-optical-sizing: auto !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
}

*:lang(Traditional-Chinese) {
    font-family: "Noto Sans TC", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
}

.font-size-fixed {
    /* https://stackoverflow.com/questions/42782858/how-to-center-the-text-larger-than-the-container */
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.div-in-flex-container-right-align {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-left: 2rem;
}


/* header.html */
.navbar {
    background-color: black !important;
}

.nav-item {
    font-size: 1rem;
}

.about-button {
    border: 0rem !important;
    font-size: 1rem !important;
    text-transform: capitalize !important;
}

.about-button::after {
    margin-top: 0.75rem;
}

/* footer.html */
.copyright-text {
    font-size: 0.875em;
}

.border-bottom {
    margin: 0rem !important;
    background-color: white;
}

.footer-container {
    background-color: white;
}

footer {
    padding: 1.5rem;
    background-color: white;
    margin: 0rem !important;
}

/* index.html */
.h1-div-home {
    align-items: center;
    justify-content: center;
}


.spacer-top {
    height:  2vh;
    /* background: linear-gradient(black, transparent); */
}

.spacer-between {
    height:  3vh;
}

.spacer-bottom {
    height:  10vh;
    background: linear-gradient(
        to top,
        white, transparent
        );
}

/* this the solution from .blob, but it causes footer to misplace,
    used z-index: -1; in .blob to resolve */
/* .post-content {
    position: absolute; 
} */

.wrap-block {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-right: 4%;
    margin-left: 4%;
}

.post {
    height: auto; 
    /* https://www.geeksforgeeks.org/how-to-make-div-height-expand-with-its-content-using-css/ */
    background-color: #212529 ;
    padding: 1rem !important; 
    margin: -12px;
}

.last-edit-date {
    padding-right: 0.25rem;
}

.post-block {
    overflow: auto;
    height: auto;
    padding: 0.75rem;
    padding-bottom: 0.35rem;
}

.title {
    line-height: 1.5 !important;
    margin-right: -2rem;
}

.title-separator {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: white;
    opacity: 0.75;
}

.post-text {
    margin-top: 0;
    /* display: flex;
    flex-flow: column;
    height: 100%; */
}

.post-only-text {
    padding-top: 1rem;
}

.description {
    /* cite https://stackoverflow.com/questions/3029422/how-to-auto-resize-an-image-while-maintaining-aspect-ratio */
    max-width: 100%;
    max-height: 100%;
    color: white;
}

.keyword-block {
    padding: 2px !important;
    padding-bottom: 0px !important;
}

.keyword-text {
    font-weight: var(--heavy-font-weight) !important;
    font-size: 16px !important;
    white-space: nowrap;
    padding: 1rem 1rem !important;
}

.result-block {
    display: inline-block;
    padding: 0rem;
}

.result-preview {
    max-width: 100%;
    max-height: 100%;
}

.no-padding {
    padding: 0;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    
    to {
        rotate: 360deg;
    }
}

.base-color {
    /* https://stackoverflow.com/questions/7797708/how-to-keep-the-background-div-appear-desptie-scrolling-vertically */
    height: 120vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to top left,
        #46A6F1, #e7f8e1, #f69c3c
    );
    animation: rotate 30s infinite;
    filter: blur(100px);
    /* opacity: 0.4; */
    /* https://stackoverflow.com/questions/16898315/how-to-change-the-layer-order-of-divs */
    z-index: -1;
}

.carousel-btn {
    height: 50%;
    align-items: end;
    opacity: 1;
}


/* contact.html & about.html */
.header-bg {
    position: relative;
    /* this line of code existence is to remind my self of don't underestimate any part of programming
    just because it's seems easy doesn't meant in pratice it's still easy 
    this line of code cause me about 5 hours to debug. 2024/05 */
    /* padding-top: calc(57px + 8rem); */
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: center center / cover no-repeat scroll rgb(108, 117, 125);
    text-align: center;
    background-size: cover; 
    background-position: center; 
    height: auto; 
    /* Set the height as per your requirement  */
}

.photo-credit {
    font-size: medium;
    text-align: right;
    margin-left: auto; 
    margin-right: 5px;
    margin-bottom: 3rem;
}

.page-heading {
    color: white;
}

.subheading {
    font-size: 1.5rem;
}

 h1, .h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: var(--heavy-font-weight);
    line-height: 1.2;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, p {
    --bs-body-font-family: "Lora", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: var(--normal-font-weight);
    --bs-body-line-height: 1.5;
}


h1 {
    font-size: 2.5rem !important;
    align-items: center;
    justify-content: center;
}

.form-floating > .form-control, .form-floating > .form-control-plaintext {
    /* padding: 1.25rem 0px; */
    height: 4.5rem;
    line-height: 1.25;
}

.form-floating input, .form-floating textarea {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

textarea.form-control {
    padding-top: 2.25rem !important;
}

.btn {
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    --bs-btn-padding-x: 1.75rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-font-weight: var(--heavy-font-weight);
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-family: var(--bs-btn-font-family);
    font-size: var(--extra-font-weight);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: var(--bs-btn-bg);
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #0085A1;
    --bs-btn-border-color: #0085A1;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #007189;
    --bs-btn-hover-border-color: #006a81;
    --bs-btn-focus-shadow-rgb: 38, 151, 175;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #006a81;
    --bs-btn-active-border-color: #006479;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0085A1;
    --bs-btn-disabled-border-color: #0085A1;
}

.contact-h1 {
    padding-top: 1.25rem;
}


@keyframes crab-walk {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    from, to {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(90deg);
    }
}

p > .magic {
    display: inline-block;
    position: relative;
}

p > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    width: var(--size);
    height: var(--size);
    display: block;
    position: absolute;
    left: var(--star-horizontal);
    top: var(--star-vertical);

    animation: scale 1000ms ease forwards;
}

p > .magic > .magic-star > img {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.85;
}

p > .magic > .magic-star > img {
    color: var(--violet);
}

p > .magic > .magic-text {
    animation: crab-walk 5s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}


#hover-container {
    gap: 2px;
}


#hover-container:hover > .hover-frame::after {
  opacity: 1;
}

.hover-frame {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
}


.hover-frame::before,
.hover-frame::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 500ms;
    inset: 0;
}

.hover-frame::after {  
    background: radial-gradient(
        300px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 1),
        transparent 40%
    );
    z-index: 1;
}

.hover-frame > .hover-content {
    background-color: black;
    border-radius: inherit;

    inset: 1px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 2;
}

.header-text {
    padding-left: 0.5rem;
    white-space: nowrap;
}

.header-title-text {
    line-height: 34px;
}

.header-button-text {
    line-height: 30px;
}

.brand-image {
    border-radius: 50%;
}