html[data-bs-theme=light], html[data-bs-theme=auto] {
    --foreground-base-color: black;
    --background-base-color: white;

    --highest-contrast-text-color: var(--foreground-base-color);
    --lower-contrast-background-color: #ededed;  /* compare to --background-base-color */

    --switcher-hover-color: #cecece;

    --footer-text-color: #212529bf;
    --footer-bg-color: var(--background-base-color);

    --link-color: #0D6EFD;
    --link-color-hover: #004DFF;

    --magic-effect-purple: #8700AA;
    --magic-effect-violet: #8E1BDE;
    --magic-effect-pink: #E81261;

    --gh-lang-text-color: #1f2328;
    --gh-lang-link-color: #59636e;
    --gh-lang-bar-bgcolor: #d1d9e0;

    --form-text-color: var(--foreground-base-color);

    --table-bg-color-even: #edeef2;

    /* #000000 */
    --svg-filter-basic: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%) contrast(104%);
    /* #FFCC00 */
    --svg-filter-magic: brightness(0) saturate(100%) invert(80%) sepia(56%) saturate(2700%) hue-rotate(357deg) brightness(106%) contrast(109%);

    .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
    }

    .form-check-input:checked {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 1%29'/%3e%3c/svg%3e") !important;
    }

}

html[data-bs-theme=dark] {
    --foreground-base-color: #E6E6E6;
    --foreground-mute-color: #E1E1E1;
    --foreground-damp-color: #DCDCDC;
    --background-base-color: #212529;

    --highest-contrast-text-color: white;
    --lower-contrast-background-color: #303438;

    --switcher-hover-color: #77818b;

    --footer-text-color: white;
    --footer-bg-color: black;

    --link-color: #5280FF;
    --link-color-hover: #455FFF;

    --magic-effect-purple: #BE17FB;
    --magic-effect-violet: #fb00ff;
    --magic-effect-pink: #FF1670;

    --gh-lang-text-color: var(--foreground-mute-color);
    --gh-lang-link-color: var(--foreground-damp-color);
    --gh-lang-bar-bgcolor: #d1d9e0;

    --form-text-color: var(--foreground-damp-color);

    --table-bg-color-even: #32363b;

    /* #ffffff */
    --svg-filter-basic: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(205deg) brightness(107%) contrast(102%);
    /* #ffff00 */
    --svg-filter-magic: brightness(0) saturate(100%) invert(91%) sepia(43%) saturate(3003%) hue-rotate(358deg) brightness(108%) contrast(102%);

    .form-check-input {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e") !important;
    }

    .form-check-input:checked {
        --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 1%29'/%3e%3c/svg%3e") !important;
    }

    .decor-rule {
        color: white !important;
        height: auto !important;
        padding: 0px !important;
        border-bottom: 0px !important;
    }
    
    .horizontal-stroke {
        border-top: 2px solid #656775;
    }

    .magic > .magic-star > img {
        opacity: 1;
    }
}

body {
    color: var(--foreground-base-color);
    background-color: var(--background-base-color);

    --option-activate-text-color: #DEE2E6;
    /* #DEE2E6 */
    --svg-filter-option-activate: brightness(0) saturate(100%) invert(88%) sepia(9%) saturate(105%) hue-rotate(169deg) brightness(105%) contrast(88%);
    --option-background-color: #565e64;
    --option-mousedown-background-color: rgb(108, 117, 123);

    font-size: 1.25rem;
    line-height: 33px;
    text-underline-position: auto;
    --normal-font-weight: 400;
    --added-font-weight: 500;
    --extra-font-weight: 600;
    --heavy-font-weight: 800;

    --purple: var(--magic-effect-purple);
    --violet: var(--magic-effect-violet);
    --pink: var(--magic-effect-pink);

    --text-shadow-1px-black:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

body::-webkit-scrollbar {
    width: 3px;
    display: initial;
}

body::-webkit-scrollbar:horizontal {
    height: 1px;
    display: initial;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--foreground-base-color); 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(from var(--foreground-base-color) R G B / 0.75);
}

h1 {
    margin-bottom: 0;
    font-size: 2.5rem !important;
    align-items: center;
    justify-content: center;
}

h4 {
    font-size: 1.45rem;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

strong {
    font-weight: bold !important;
}

*:lang(en-US) {
    font-family: "Playwrite NZ Basic", cursive !important;
    font-optical-sizing: auto !important;
    font-weight: var(--normal-font-weight);
    font-style: normal !important;
    text-underline-position: auto;
}

*:lang(zh-TW) {
    font-family: "Noto Sans TC", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: var(--normal-font-weight);
    font-style: normal !important;
    text-underline-position: under;
}

.btn {
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    --bs-btn-padding-x: 1.75rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-btn-border-color: transparent;
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.svg-whitened {
    filter: invert(86%) sepia(7%) saturate(160%) hue-rotate(202deg) brightness(96%) contrast(89%);
}

.svg-size-navbar {
    height: 30px;
}

.svg-size-tool {
    height: 20px;
}

.svg-size-large {
    height: 32px;
}

.svg-size-medium {
    height: 24px;
}

.svg-size-small {
    height: 16px;
}


/* ============================== header.html ============================== */
.navbar {
    background-color: black !important;
}

.nav-link {
    text-decoration: none !important;
}

.nav-item {
    font-size: 1rem;
}

.about-button::after {
    margin-top: 0.75rem;
}

.about-option:focus {
    color: var(--option-activate-text-color);
    background-color: var(--option-background-color);
}

.focus-button:focus {
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: none;
}

.dropdown-menu {
    min-width: fit-content;
    border: 2px solid color-mix(in srgb, var(--highest-contrast-text-color) 50%, rgb(127, 127, 127) 50%);
    outline: 2px solid color-mix(in srgb, var(--background-base-color) 50%, rgb(127, 127, 127) 50%);
    background-color: var(--lower-contrast-background-color);
}

#hover-container {
    gap: 2px;
}

#hover-container:hover > .hover-frame::after {
  opacity: 1;
}

.hover-frame {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
}

.hover-frame::before,
.hover-frame::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 500ms;
    inset: 0;
}

.hover-frame::after {
    background: radial-gradient(
        300px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 1),
        transparent 40%
    );
    z-index: 1;
}

/* 
In some cases (mostly due to internet connections),
the width and height of hover-frame-size are not set by `navbar-hover.js`,
so a default value is provided here.
*/
#frame-size-1 {
    width: 116px; height: 46px;
}

#frame-size-2 {
    width: 134px; height: 46px;
}

#frame-size-3 {
    width: 121px; height: 46px;
}

.hover-frame > .hover-content {
    background-color: black;
    border-radius: inherit;

    inset: 1.5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 2;
}

/* focus remove the hover effect */
.hover-frame > .hover-content:focus-within {
    inset: 0px;
}

.header-text {
    padding-left: 0.5rem;
    white-space: nowrap;
}

.header-title-text {
    line-height: 34px;
}

.header-button-text {
    line-height: 30px;
}

.brand-image {
    width: 34px;
    border-radius: 50%;
}

.float-dropdown {
    background-color: var(--background-base-color);
    position: fixed;
    z-index: 1000;
    border-radius: 10px;
}

.cookie-banner {
    left: 20px;
    bottom: 40px;
}

.cookie-banner-menu {
    min-width: 280px;
}

#close-cookie-banner {
    position: fixed;
    right: 5px;
    top: 5px;
}

.theme-banner {
    right: 20px;
    bottom: 40px;
}

.float-dropdown-menubutton {
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 10px !important;
    border: 2px solid rgb(from var(--foreground-base-color) R G B / 0.2);
    outline: 1px solid var(--background-base-color);
    transition: border 300ms ease;
}

.float-dropdown-menubutton:hover, .float-dropdown-menubutton:focus {
    border: 2px solid var(--foreground-base-color);
    outline: 1px solid var(--background-base-color);
    transition: border 300ms ease;
}

.dropdown-menu > p, .dropdown-menu > h4 , .dropdown-menu > li {
    padding: 0px 8px;
    color: var(--highest-contrast-text-color);
}

.dropdown-menu > p {
    margin: 0px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.float-dropdown-option {
    cursor: pointer;
    color: var(--highest-contrast-text-color);
}

.float-dropdown-option.active {
    color: var(--option-activate-text-color);
    background-color: var(--option-background-color);
}

.float-dropdown-option:active {
    color: var(--foreground-base-color);
    background-color: var(--option-mousedown-background-color) !important;
}

.float-dropdown-option:hover, .float-dropdown-option:focus {
    background-color: var(--switcher-hover-color);
}

/* theme switcher */
.float-dropdown-option.disabled {
    cursor: default;
}

.float-dropdown-option.disabled > img {
    filter: var(--svg-filter-option-activate);
}

/* cookie banner */
.float-dropdown-option-disabled:is(:hover, :active, :focus) {
    color: var(--highest-contrast-text-color);
    background-color: var(--lower-contrast-background-color);
}

.theme-banner .float-dropdown-option {
    display: flex;
    align-items: center;
}

.theme-banner a.float-dropdown-option {
    text-decoration: none;
}

.theme-banner .float-dropdown-option img {
    margin-right: 5px;
}

.form-check-input {
    margin-top: 8.5px;
    cursor: pointer;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%28255, 255, 255, 0.25%29'/%3e%3c/svg%3e");
}

.form-check-input:focus {
    border-color: var(--highest-contrast-text-color);
    box-shadow: 0 0 0 0.25rem rgb(from var(--highest-contrast-text-color) R G B / 0.15);
}

.form-check-input:checked {
    background-color: var(--background-base-color);
    border-color: var(--highest-contrast-text-color);
}

.form-check-label {
    line-height: 28px;
    cursor: pointer;
    user-select: none;
    letter-spacing: 0.5px;
}

.float-dropdown-item-group {
    display: flex;
    justify-content: space-around;
    width: 100%;
    white-space: nowrap;
    gap: 6px;
}

.float-dropdown-button {
    padding: 8px;
    font-weight: bold;
    border: 2px solid transparent;
    color: var(--highest-contrast-text-color);
    padding: 6px 8px;
    margin: 4px 0px;
}

.float-dropdown-button:hover {
    background-color: var(--switcher-hover-color);
}

.float-dropdown-button:focus {
    color: var(--highest-contrast-text-color);
    border: 2px solid var(--highest-contrast-text-color);
    border-radius: 10px;
    box-shadow: none;
}

.cookie-banner > .dropdown-menu > ul > li {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: var(--highest-contrast-text-color);
    padding-right: 8px;
}

.cookie-banner .form-check-label:lang(English) {
    font-size: 13px;
}

.cookie-banner-footer {
    line-height: 20px;
}

.cookie-banner-footer-item {
    flex-basis: 150px;
}

.cookie-banner-description {
    line-height: 24px !important;
    margin: 3px 0px !important;
}

.tooltip-img {
    cursor: help;
}

.disabled-tooltip {
    line-height: 10px;
    user-select: none;
}

.svg-color-by-theme {
    filter: var(--svg-filter-basic);
}

.custom-tooltip-style {
    --bs-tooltip-min-width: fit-content;
    --bs-tooltip-max-width: 80vw;
    --bs-tooltip-font-size: 12px;
    --bs-tooltip-color: var(--highest-contrast-text-color);
    --bs-tooltip-bg: var(--footer-bg-color);
    --bs-tooltip-border-radius: 1px;
    --bs-tooltip-opacity: 1;

    white-space: pre-wrap;
    cursor: default;
    user-select: none;
}

.custom-tooltip-style > .tooltip-arrow {
    visibility: hidden;
}

/* Bootstrap tooltip CSS variables cannot modify some styles of the child element */
.custom-tooltip-style > .tooltip-inner {
    text-align: left;
    border: 1.5px solid var(--highest-contrast-text-color);
    margin-left: 5.5px;
}

.text-with-tooltip {
    display: inline-block;
    height: 24px;
    cursor: help;
    font-weight: bold;
}

.text-with-tooltip:lang(Traditional-Chinese) {
    margin-right: -3px;
}

.text-with-tooltip > img {
    vertical-align: middle;
    margin-bottom: 2px;
}

.custom-text-tooltip-style > .tooltip-inner {
    margin-top: 47px;
    margin-left: -5px;
}

.cookie-remove-link, .cookie-remove-link:hover, .cookie-remove-link:focus {
    color: var(--footer-text-color);
    font-size: 0.7em;
    margin: 0rem;
    line-height: 20px;
    cursor: pointer;
    padding: 0px;
    text-transform: none;
    letter-spacing: 0px;
    text-decoration: none;
    --bs-btn-border-radius: 0px;
}

.cookie-remove-link:hover {
    text-decoration: underline;
}

.cookie-remove-link:focus {
    box-shadow: none;
}

.cookie-remove-link:focus-visible {
    outline-offset: 3px;
}

/* ============================== footer.html ============================== */
.horizontal-stroke {
    margin: 0px;
}

.decor-rule {
    font-family: "Iosevka Charon Mono", monospace;
    font-size: 16px;
    line-height: 20px;
    color: transparent;
    user-select: none;
    height: 0px !important;
    margin: 0rem;
    background-color: var(--footer-bg-color);
}


footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: var(--footer-bg-color);
    margin: 0rem !important;
}

.copyright-text {
    color: var(--footer-text-color);
    font-size: 0.875em;
    margin: 1rem 0rem 0rem 0rem;
}

.policy-text, .policy-text:hover {
    color: var(--footer-text-color);
    font-size: 0.7em;
    margin: 0rem;
    line-height: 20px;
}

.policy-text:focus-visible {
    outline-offset: 3px;
}

/* ============================== index.html ============================== */
.fancy-font-letter {
    font-family: "Pacifico", cursive !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
    font-size: x-large !important;
    color: white !important;
    text-transform: lowercase !important;
}

.fancy-font-number {
    font-family: "Delius", cursive !important;
    font-weight: var(--normal-font-weight) !important;
    color: white !important;
    font-style: normal !important;
}

.font-size-fixed {
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.div-in-flex-container-right-align {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-left: 2rem;
}

.h1-div-home {
    align-items: center;
    justify-content: center;
}

.spacer-top {
    height: 2vh;
}

.spacer-between {
    height: 3vh;
}

.spacer-bottom {
    padding-top: 6rem;
    background: linear-gradient(
        to top,
        var(--footer-bg-color), transparent
    );
}

.wrap-block {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-right: 4%;
    margin-left: 4%;
}

.post {
    height: auto; 
    background-color: #212529;
    padding: 1rem !important; 
    margin: -12px;
}

.last-edit-date-index {
    padding-right: 0.25rem;
}

.post-block {
    overflow: auto;
    height: auto;
    padding: 0.75rem;
    padding-bottom: 0.35rem;
}

.title {
    line-height: 1.5 !important;
    margin-right: -2rem;
}

.title-separator {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: white;
    opacity: 0.75;
}

.post-text {
    margin-top: 0;
}

.post-only-text {
    padding-top: 1rem;
}

.post-text > a, .post-only-text {
    --link-color: #5280FF;
    --link-color-hover: #455FFF;
}

.description {
    max-width: 100%;
    max-height: 100%;
    color: white;
}

.keyword-block {
    padding: 2px !important;
    padding-bottom: 0px !important;
    cursor: text;
}

.keyword-text {
    font-weight: var(--heavy-font-weight) !important;
    font-size: 16px !important;
    white-space: nowrap;
    padding: 1rem 1rem !important;
    user-select: text;
}

.result-block {
    display: inline-block;
    padding: 0rem;
}

.result-preview {
    max-width: 100%;
    max-height: 100%;
}

.no-padding {
    padding: 0;
}

@keyframes background-rotate {
    from {
        rotate: 0deg;
    }
    
    to {
        rotate: 360deg;
    }
}

.base-color {
    height: 120vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to top left,
        #46A6F1, #e7f8e1, #f69c3c
    );
    animation: background-rotate 30s infinite;
    filter: blur(100px);
    z-index: -1;
}

.carousel-btn {
    height: 50%;
    align-items: end;
    opacity: 1;
}


/* ============================== contact.html & about.html ============================== */
.header-bg {
    position: relative;
    /* this line of code existence is to remind my self of don't underestimate any part of programming
    just because it's seems easy doesn't meant in pratice it's still easy 
    this line of code cause me about 5 hours to debug. 2024/05 */
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: center center / cover no-repeat scroll rgb(108, 117, 125);
    text-align: center;
    background-size: cover; 
    background-position: center; 
    height: auto; 
}

.photo-credit {
    font-size: medium;
    text-align: right;
    margin-left: auto; 
    margin-right: 5px;
    margin-bottom: 3rem;
}

.page-heading {
    color: white;
    text-shadow: var(--text-shadow-1px-black);
}

.heading-weight-English {
    font-weight: var(--extra-font-weight) !important;
}

.heading-weight-Traditional-Chinese {
    font-weight: var(--added-font-weight) !important;
}

.form-control {
    color: var(--foreground-base-color);
    background-color: var(--background-base-color) !important;
}

.form-control:focus ~ label {
    color: var(--form-text-color) !important;
}

.form-label::after{
    background-color: var(--background-base-color) !important;
}

.from-confirm {
    color: var(--foreground-base-color);
    background-color: var(--link-color);
}

.from-confirm:hover {
    background-color: var(--link-color-hover)
}

/* ============================== about.html ============================== */
.subheading {
    color: white;
    font-size: 1.5rem;
    font-weight: var(--added-font-weight) !important;
    text-shadow: var(--text-shadow-1px-black);
}

@keyframes crab-walk {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(90deg);
    }
}

.magic {
    display: inline-block;
    position: relative;
}

.magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    width: var(--size);
    height: var(--size);
    display: block;
    position: absolute;
    left: var(--effect-horizontal);
    top: var(--effect-vertical);

    opacity: 0;
    transform: scale(0);
    animation: none;
}

.magic > .magic-star > img {
    animation: rotate 1700ms linear infinite;
    display: block;
    opacity: 0.85;
}

.star > img {
    content: url("/static/assets/svg/magic-star.svg");
}

.cross > img {
    content: url("/static/assets/svg/magic-cross.svg");
}

.magic > .magic-text {
    animation: crab-walk 5s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.svg-magical {
    filter: var(--svg-filter-magic);
}

.github-languages-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-languages-figure {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-size: 14px;
    line-height: 1.5;
    width: 240px;
    padding: 16px 0px;
}

.github-languages-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--gh-lang-text-color);
    margin-top: 0px;
    margin-bottom: 16px;
}

.percentage-bar {
    background-color: var(--gh-lang-bar-bgcolor);
    border-radius: 0.375rem;
    height: 8px;
    display: flex;
    overflow: hidden;
    gap: .125rem;
    margin-bottom: 8px;
}

.bar-legend-box {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.legend-bound-box {
    display: inline;
}

.bar-legend {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    color: var(--gh-lang-link-color);
    text-decoration: none !important;
    font-size: 12px;
    margin-right: 16px;
}

.legend-icon {
    vertical-align: text-bottom;
    fill: currentColor;
    display: inline-block;
    overflow: visible;
    margin-right: 8px;
}

.legend-text {
    color: var(--gh-lang-text-color);
    font-weight: 600;
    margin-right: 4px;
}

.legend-percent {
    color: var(--gh-lang-link-color);
}

span.language-color-HTML {
    background-color: #e34c26;
}
img.language-color-HTML {
    filter: brightness(0) saturate(100%) invert(37%) sepia(61%) saturate(1599%) hue-rotate(343deg) brightness(90%) contrast(97%);
}

span.language-color-Python {
    background-color: #3572A5;
}
img.language-color-Python {
    filter: brightness(0) saturate(100%) invert(39%) sepia(62%) saturate(486%) hue-rotate(165deg) brightness(92%) contrast(94%);

}

span.language-color-CSS {
    background-color: #663399;
}
img.language-color-CSS {
    filter: brightness(0) saturate(100%) invert(24%) sepia(16%) saturate(5198%) hue-rotate(244deg) brightness(97%) contrast(98%);

}

span.language-color-JavaScript {
    background-color: #f1e05a;
}
img.language-color-JavaScript {
    filter: brightness(0) saturate(100%) invert(79%) sepia(95%) saturate(303%) hue-rotate(352deg) brightness(96%) contrast(97%);
}


/* ============================== about.html:tools ============================== */
.category-description {
    margin-left: 2rem;
    font-weight: var(--normal-font-weight);
}

.tool-title {
    margin-left: 2rem;
    margin-top: 8px;
}

.tool-href {
    font-weight: var(--normal-font-weight);
}

.tool-favicon {
    vertical-align: initial;
}

.tool-description {
    margin-left: 1rem;
    margin-bottom: 0px;
    border-left: 3.2px solid #d1d9e0;
    padding-left: 0.85rem;
    font-weight: var(--normal-font-weight);
}

.tool-use-case {
    font-size: 18px;
    font-weight: 400;
    margin: 0px 0px 0px 3rem;
    color: var(--highest-contrast-text-color);
}

.tool-use-case > img {
    margin-bottom: 4px;
    filter: var(--svg-filter-basic);
}

.tool-use-case > a {
    font-weight: 500;
}

code {
    white-space: break-spaces;
    background-color: #818b981f;
    border-radius: 6px;
    margin: 0;
    padding: .2em .4em;
    font-family: monospace !important;
    color: #d63384;
}


/* ============================== contact.html ============================== */
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    height: 4.5rem;
    line-height: 1.25;
}

.form-floating input, .form-floating textarea {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

textarea.form-control {
    padding-top: 2.25rem !important;
}

.btn-primary {
    padding: 10px 16px;
}


/* ============================== policy.html ============================== */
.quote {
    background-color: var(--lower-contrast-background-color);
    margin-bottom: 10px;
    padding: 10px 21px;
    border-radius: 10px;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

.text-align-right {
    text-align: right;
}

cite::before {
    content: "\2014";
}

cite {
    font-style: normal;
}

.no-margin {
    margin: 0px;
}

u {
    text-decoration-line: underline;
    text-underline-position: under;
}

.table-responsive {
    margin: 8px 0px 18px 0px;
}

.table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: 0.8rem;
    font-weight: var(--normal-font-weight);
    letter-spacing: 0.5px;
    margin-bottom: 0px;
}

caption {
    caption-side: bottom;
    padding: 4px 10px 0px 10px;
    font-weight: bold;
    line-height: 20px;
}

tr:nth-of-type(even) {
  --bs-table-bg: var(--table-bg-color-even);
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
    font-size: 16px;
    white-space: pre-wrap;
    line-height: 28px;
}

:is(td):lang(Traditional-Chinese) {
    white-space: normal;
    line-height: 24px;
}


.policy-glossary {
    line-height: 28px;
}

.policy-glossary dd {
    margin-left: revert;
    margin-bottom: 8px;

}

.policy-glossary dt, .policy-glossary dd {
    font-size: 16px;
    font-weight: var(--normal-font-weight);
}

.policy-info-icon {
    margin-bottom: 2px;
}

.last-edit-date-policy {
    font-size: 14px;
    line-height: normal;
}
