body {
    font-size: 1.25rem;
    line-height: 33px;
    --normal-font-weight: 400;
    --extra-font-weight: 600;
    --heavy-font-weight: 800;

    /* --link-color: #0D6EFD;
    --link-color-hover: #0033ff; */
    --purple: rgb(135, 0, 170);
    --violet: rgb(142, 27, 222);
    --pink: rgb(232, 18, 97);

    --text-shadow-1px-black:
        -1px -1px 0 black,
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
}

body::-webkit-scrollbar {
    width: 3px;
    display: initial;
}

body::-webkit-scrollbar:horizontal {
    height: 1px;
    display: initial;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0); 
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

h1 {
    margin-bottom: 0;
    font-size: 2.5rem !important;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

*:lang(English) {
    font-family: "Playwrite NZ Basic", cursive !important;
    font-optical-sizing: auto !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
}

*:lang(Traditional-Chinese) {
    font-family: "Noto Sans TC", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
}

.btn {
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    --bs-btn-padding-x: 1.75rem;
    --bs-btn-padding-y: 1rem;
    --bs-btn-font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --bs-btn-border-color: transparent;
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.svg-whitened {
    filter: invert(86%) sepia(7%) saturate(160%) hue-rotate(202deg) brightness(96%) contrast(89%);
}


/* ============================== header.html ============================== */
.navbar {
    background-color: black !important;
}

.nav-link {
    text-decoration: none !important;
}

.nav-item {
    font-size: 1rem;
}

.about-button {
    border: 0rem !important;
    font-size: 1rem !important;
    text-transform: capitalize !important;
}

.about-button::after {
    margin-top: 0.75rem;
}

.dropdown-menu {
    min-width: auto;
}

#hover-container {
    gap: 2px;
}

#hover-container:hover > .hover-frame::after {
  opacity: 1;
}

.hover-frame {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;
}

.hover-frame::before,
.hover-frame::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 500ms;
    inset: 0;
}

.hover-frame::after {  
    background: radial-gradient(
        300px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 1),
        transparent 40%
    );
    z-index: 1;
}

/* 
In some cases (mostly due to internet connections),
the width and height of hover-frame-size are not set by `hover.js`,
so a default value is provided here.
*/
#frame-size-1 {
    width: 116px; height: 46px;
}

#frame-size-2 {
    width: 134px; height: 46px;
}

#frame-size-3 {
    width: 121px; height: 46px;
}

#frame-size-4 {
    width: 62px; height: 50px;
}

.hover-frame > .hover-content {
    background-color: black;
    border-radius: inherit;

    inset: 1.5px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
    z-index: 2;
}

.header-text {
    padding-left: 0.5rem;
    white-space: nowrap;
}

.header-title-text {
    line-height: 34px;
}

.header-button-text {
    line-height: 30px;
}

.brand-image {
    border-radius: 50%;
}


/* ============================== footer.html ============================== */
.border-bottom {
    margin: 0rem !important;
    background-color: white;
}


footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    background-color: white;
    margin: 0rem !important;
}

.copyright-text {
    font-size: 0.875em;
    margin: 0.5rem 0rem;
}

.policy-text {
    font-size: 0.7em;
    margin: 0rem;
    line-height: 20px;
}

/* ============================== index.html ============================== */
.fancy-font-letter {
    font-family: "Pacifico", cursive !important;
    font-weight: var(--normal-font-weight) !important;
    font-style: normal !important;
    font-size: x-large !important;
    color: white !important;
    text-transform: lowercase !important;
}

.fancy-font-number {
    font-family: "Delius", cursive !important;
    font-weight: var(--normal-font-weight) !important;
    color: white !important;
    font-style: normal !important;
}

.font-size-fixed {
    width: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.div-in-flex-container-right-align {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    padding-left: 2rem;
}

.h1-div-home {
    align-items: center;
    justify-content: center;
}

.spacer-top {
    height:  2vh;
}

.spacer-between {
    height:  3vh;
}

.spacer-bottom {
    height:  10vh;
    background: linear-gradient(
        to top,
        white, transparent
    );
}

.wrap-block {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-right: 4%;
    margin-left: 4%;
}

.post {
    height: auto; 
    background-color: #212529;
    padding: 1rem !important; 
    margin: -12px;
}

.last-edit-date {
    padding-right: 0.25rem;
}

.post-block {
    overflow: auto;
    height: auto;
    padding: 0.75rem;
    padding-bottom: 0.35rem;
}

.title {
    line-height: 1.5 !important;
    margin-right: -2rem;
}

.title-separator {
    margin-top: 0rem;
    margin-bottom: 0.5rem;
    color: white;
    opacity: 0.75;
}

.post-text {
    margin-top: 0;
}

.post-only-text {
    padding-top: 1rem;
}

.description {
    max-width: 100%;
    max-height: 100%;
    color: white;
}

.keyword-block {
    padding: 2px !important;
    padding-bottom: 0px !important;
}

.keyword-text {
    font-weight: var(--heavy-font-weight) !important;
    font-size: 16px !important;
    white-space: nowrap;
    padding: 1rem 1rem !important;
}

.result-block {
    display: inline-block;
    padding: 0rem;
}

.result-preview {
    max-width: 100%;
    max-height: 100%;
}

.no-padding {
    padding: 0;
}

@keyframes background-rotate {
    from {
        rotate: 0deg;
    }
    
    to {
        rotate: 360deg;
    }
}

.base-color {
    height: 120vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to top left,
        #46A6F1, #e7f8e1, #f69c3c
    );
    animation: background-rotate 30s infinite;
    filter: blur(100px);
    z-index: -1;
}

.carousel-btn {
    height: 50%;
    align-items: end;
    opacity: 1;
}


/* ============================== contact.html & about.html ============================== */
.header-bg {
    position: relative;
    /* this line of code existence is to remind my self of don't underestimate any part of programming
    just because it's seems easy doesn't meant in pratice it's still easy 
    this line of code cause me about 5 hours to debug. 2024/05 */
    padding-top: 8rem;
    padding-bottom: 8rem;
    background: center center / cover no-repeat scroll rgb(108, 117, 125);
    text-align: center;
    background-size: cover; 
    background-position: center; 
    height: auto; 
}

.photo-credit {
    font-size: medium;
    text-align: right;
    margin-left: auto; 
    margin-right: 5px;
    margin-bottom: 3rem;
}

.page-heading {
    color: white;
    text-shadow: var(--text-shadow-1px-black);
}


/* ============================== about.html ============================== */
.subheading {
    font-size: 1.5rem;
    text-shadow: var(--text-shadow-1px-black);
}

@keyframes crab-walk {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(90deg);
    }
}

.magic {
    display: inline-block;
    position: relative;
}

.magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    width: var(--size);
    height: var(--size);
    display: block;
    position: absolute;
    left: var(--effect-horizontal);
    top: var(--effect-vertical);

    opacity: 0;
    transform: scale(0);
    animation: none;
}

.magic > .magic-star > img {
    animation: rotate 1700ms linear infinite;
    display: block;
    opacity: 0.85;
}

.star > img {
    content: url("/static/assets/svg/magic-star.svg");
}

.cross > img {
    content: url("/static/assets/svg/magic-cross.svg");
}

.magic > .magic-text {
    animation: crab-walk 5s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}

.svg-magical {
    /* #ffcc00 */
    filter: brightness(0) saturate(100%) invert(80%) sepia(56%) saturate(2700%) hue-rotate(357deg) brightness(106%) contrast(109%);
}

.github-languages-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.github-languages-figure {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
    font-size: 14px;
    line-height: 1.5;
    width: 240px;
    padding: 16px 0px;
}

.github-languages-title {
    font-size: 16px;
    font-weight: 600;
    color: #1f2328;
    margin-top: 0px;
    margin-bottom: 16px;
}

.percentage-bar {
    background-color: #d1d9e0;
    border-radius: 0.375rem;
    height: 8px;
    display: flex;
    overflow: hidden;
    gap: .125rem;
    margin-bottom: 8px;
}

.bar-legend-box {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.legend-bound-box {
    display: inline;
}

.bar-legend {
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    color: #59636e;
    text-decoration: none !important;
    font-size: 12px;
    margin-right: 16px;
}

.legend-icon {
    vertical-align: text-bottom;
    fill: currentColor;
    display: inline-block;
    overflow: visible;
    margin-right: 8px;
}

.legend-text {
    color: #1f2328;
    font-weight: 600;
    margin-right: 4px;
}

span.language-color-HTML {
    background-color: #e34c26;
}
img.language-color-HTML {
    filter: brightness(0) saturate(100%) invert(37%) sepia(61%) saturate(1599%) hue-rotate(343deg) brightness(90%) contrast(97%);
}

span.language-color-Python {
    background-color: #3572A5;
}
img.language-color-Python {
    filter: brightness(0) saturate(100%) invert(39%) sepia(62%) saturate(486%) hue-rotate(165deg) brightness(92%) contrast(94%);

}

span.language-color-CSS {
    background-color: #663399;
}
img.language-color-CSS {
    filter: brightness(0) saturate(100%) invert(24%) sepia(16%) saturate(5198%) hue-rotate(244deg) brightness(97%) contrast(98%);

}

span.language-color-JavaScript {
    background-color: #f1e05a;
}
img.language-color-JavaScript {
    filter: brightness(0) saturate(100%) invert(79%) sepia(95%) saturate(303%) hue-rotate(352deg) brightness(96%) contrast(97%);
}


/* ============================== about.html:tools ============================== */
.category-description {
    margin-left: 2rem;
    font-weight: var(--normal-font-weight);
}

.tool-title {
    margin-left: 2rem;
    margin-top: 8px;
}

.tool-href {
    font-weight: var(--normal-font-weight);
}

.tool-favicon {
    vertical-align: initial;
}

.tool-description {
    margin-left: 1rem;
    margin-bottom: 0px;
    border-left: 3.2px solid #d1d9e0;
    padding-left: 0.85rem;
    font-weight: var(--normal-font-weight);
}

.tool-use-case {
    font-size: 18px;
    font-style: italic;
    margin-left: 3rem;
    margin-bottom: 0px;
}

.tool-use-case > img {
    margin-bottom: 4px;
}

code {
    white-space: break-spaces;
    background-color: #818b981f;
    border-radius: 6px;
    margin: 0;
    padding: .2em .4em;
    font-family: monospace !important;
    color: #d63384;
}


/* ============================== contact.html ============================== */
.form-floating > .form-control, .form-floating > .form-control-plaintext {
    height: 4.5rem;
    line-height: 1.25;
}

.form-floating input, .form-floating textarea {
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
}

textarea.form-control {
    padding-top: 2.25rem !important;
}

.btn-primary {
    padding: 10px 16px;
}


/* ============================== policy.html ============================== */
.quote {
    background-color: #ededed;
    margin-bottom: 10px;
    padding: 10px 21px;
    border-radius: 10px;
}

blockquote p::before {
    content: "\201C";
}

blockquote p::after {
    content: "\201D";
}

.cite {
    text-align: right;
}

.cite::before {
    content: "\2014";
}

.no-margin {
    margin: 0px;
}

u {
    text-decoration-line: underline;
    text-underline-position: under;
}