{% include "header.html" %}

<!-- Page Header-->
<header
  class="header-bg"
  style="background-image: url('../static/assets/img/about-bg-original.jpg')"
>
  <div class="container header-text-center custom-bg-container">
    <div class="row">
      <div class="page-heading">
        <h1>{{ static_data.title.get(current.language) }}</h1>
        <span class="subheading">{{ static_data.description.get(current.language) }}</span>
      </div>
    </div>
  </div>
</header>
<!-- photo credit -->
<div class="photo-credit" lang="English">
  Photo by 
  <a href="https://unsplash.com/@alegria55?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Jonathan Alegria
  </a>
  on
  <a href="https://unsplash.com/photos/gray-clouds-with-water-reflection-7owZVIYfyqM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">
    Unsplash
  </a>
</div>

<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% for paragraph in static_data.paragraphs.get(current.language): %}
          <p>
            {{ paragraph.format_map(effect) | safe }}
          </p>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="../static/assets/scripts/magic.js" defer></script>
</main>

<!-- TODO: add GitHub languages % -->

{% include "footer.html" %}
