{% include "header.html" %}

<!-- Page Header-->
{% if title == "website": %}
<header class="header-bg" style="background-image: url('../static/assets/img/{{ background.fname }}'); background-position-y: 60%;">
{% else: %}
<header class="header-bg" style="background-image: url('../static/assets/img/{{ background.fname }}');">
{% endif %}
  <div class="container header-text-center custom-bg-container" lang="{{ language }}">
    <div class="row">
      <h1 class="page-heading heading-weight-{{ language }}">{{ static_data.title.get(language) }}</h1>
      <span class="subheading">{{ static_data.description.get(language) }}</span>
    </div>
  </div>
</header>
<!-- photo credit -->
<div class="photo-credit" lang="English">
  {{ background.attribute | safe }}
</div>

<!-- Main Content-->
<main class="mb-4" lang="{{ language }}">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        {% if title != "tools": %}
          {% for paragraph in static_data.paragraphs.get(language): %}
            <p>
              {{ paragraph.format_map(effect) | safe }}
            </p>
          {% endfor %}

        {% else: %}
          {% include "tools.html" %}
        {% endif %}
      </div>
    </div>
  </div>
  <script src="../static/assets/scripts/magic.js" defer></script>
</main>

{% if title == "website": %}
  {% include "github-languages.html" %}
{% endif %}

{% include "footer.html" %}
