<!DOCTYPE html>
<html lang="{{ language }}" data-bs-theme={{ scheme }}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Developer Portfolio - Sharl0tteIsTaken</title>
    <link rel="icon" type="image/x-icon" href="../static/assets/ico/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Iosevka+Charon+Mono:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Noto+Sans+TC:wght@100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&display=swap" rel="stylesheet">
    <script src="../static/assets/scripts/preload-color-scheme.js"></script>
  </head>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark" lang="{{ language }}">
    <div class="container-fluid">
      <a class="navbar-brand d-flex" href="{{ url_for('home') }}" lang="en-US" aria-label="{{ current.navbar.get(language).get('title') }}">
        <img width="34" class="brand-image" src="https://avatars.githubusercontent.com/u/166942861?v=4" alt="The author's avatar on GitHub." onerror="this.onerror=null; this.src='../static/assets/img/github-avatar.jfif';"/>
        <div class="header-text header-title-text">Sharl0tteIsTaken</div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"  onclick="syncFrameSize()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-header">
        <ul class="nav justify-content-end" id="hover-container">
          <div class="nav-item dropdown hover-frame">
            <div class="hover-frame-size" aria-hidden="true" id="frame-size-1"></div>
            <div class="hover-content">
              <button class="nav-link btn-secondary dropdown-toggle text-white about-button d-flex focus-button" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{{ current.navbar.get(language).get('about') }}">
                <img src="../static/assets/svg/person-vcard.svg" class="svg-whitened" alt="A business card, this is a dropdown button to show all the about pages on website." height="30">
                <div class="header-text header-button-text">{{ current.navbar.get(language).get('about') }}</div>
              </button>
              <ul class="dropdown-menu">
                {% for text, href in current.navbar.get(language).get("dropdown").items(): %}
                  <li><a class="dropdown-item about-option" href="{{ href }}">{{ text }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <li class="nav-item hover-frame">
            <div class="hover-frame-size" aria-hidden="true" id="frame-size-2"></div>
            <div class="hover-content">
              <a href="{{ url_for('contact') }}" class="nav-link d-flex text-white focus-button" aria-label="{{ current.navbar.get(language).get('contact') }}">
                <img src="../static/assets/svg/envelope-paper.svg" class="svg-whitened" alt="An opened envelope." height="30">
                  <div class="header-text header-button-text">{{ current.navbar.get(language).get('contact') }}</div>
              </a>
            </div>
          </li>
          <li class="nav-item hover-frame">
            <div class="hover-frame-size" aria-hidden="true" id="frame-size-3"></div>
            <div class="hover-content">
              <a href="https://github.com/Sharl0tteIsTaken" class="nav-link d-flex text-white focus-button" aria-label="{{ current.navbar.get(language).get('github') }}">
                <img src="../static/assets/svg/github.svg" class="svg-whitened" alt="The GitHub logo." height="30">
                  <div class="header-text header-button-text">GitHub</div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <body lang="Not-Applicable">
    <div class="btn-group dropup float-dropdown cookie-banner" role="group" lang="{{ language }}">
      <button
        class="btn dropdown-toggle float-dropdown-menubutton focus-button" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false"
        {% if language == "en-US": %}
          aria-label="Privacy settings"
        {% elif language == "zh-TW": %}
          aria-label="隱私設定"
        {% endif %}
        >
        <img src="../static/assets/svg/record-preference.svg" class="svg-color-by-theme" alt="A quill drawing a fingerprint on a file." height="32">
      </button>
      <ul class="dropdown-menu cookie-banner-menu">
        <button type="button" class="btn-close" id="close-cookie-banner" aria-label="Close"></button>
        {% if language == "en-US": %}
          <h4>Privacy Settings Panel</h4>
          <p>Configure and manage the cookies used by this website.</p>
          <p class="cookie-banner-description">
            By
            <u class="text-with-tooltip" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="Only click buttons and accept/reject settings, others are excluded." data-bs-custom-class="custom-tooltip-style custom-text-tooltip-style"
             >interacting<img src="../static/assets/svg/info.svg" class="tooltip-img svg-color-by-theme" alt="A box containing the letter I, this is an information icon." height="16"></u>
            with this panel, a cookie is stored on your device to remember your cookie setting preferences.
          </p>
          <ul>
            <li>Accepted settings will be stored via cookie in your device.</li>
            <li>Rejected settings will be removed after this panel is closed.</li>
          </ul>
        {% elif language == "zh-TW": %}
          <h4>隱私設定控制台</h4>
          <p>設定及管理此網站使用的 Cookie。</p>
          <p class="cookie-banner-description">
            <u class="text-with-tooltip" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="只有點擊按鈕和同意/拒絕設定，其他行為不算。" data-bs-custom-class="custom-tooltip-style custom-text-tooltip-style"
             >操作<img src="../static/assets/svg/info.svg" class="tooltip-img svg-color-by-theme" alt="A box containing the letter I, this is an information icon." height="16"></u>
            本控制台將儲存一個 Cookie 在您的裝置上，以記住您的設定。
          </p>
          <ul>
            <li>同意的設定將透過 Cookie 儲存在您的裝置上。</li>
            <li>拒絕的設定將在控制台關閉後刪除。</li>
          </ul>
        {% endif %}
        <li class="dropdown-item float-dropdown-option-disabled">
          <div class="form-check form-switch">
            <input class="form-check-input cookie-banner-preference" type="checkbox" role="switch" id="setting" aria-label="{{ current.cookie_banner.get(language).get('setting') }}" disabled>
            <label class="form-check-label d-flex justify-content-between align-items-center" for="setting">
              {{ current.cookie_banner.get(language).get('setting') }}
              <span class="disabled-tooltip" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ current.cookie_banner.get(language).get('setting_desc') }}" data-bs-custom-class="custom-tooltip-style">
                <img src="../static/assets/svg/info.svg" class="tooltip-img svg-color-by-theme" alt="A box containing the letter I, this is an information icon." height="16">
              </span>
            </label>
          </div>
        </li>
        <li class="dropdown-item float-dropdown-option cookie-banner-switch-container">
          <div class="form-check form-switch">
            <input class="form-check-input cookie-banner-switch" type="checkbox" role="switch" id="language" aria-label="{{ current.cookie_banner.get(language).get('language') }}" switch>
            <label class="form-check-label d-flex justify-content-between align-items-center" for="language">
              {{ current.cookie_banner.get(language).get('language') }}
              <img src="../static/assets/svg/info.svg" class="tooltip-img svg-color-by-theme" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ current.cookie_banner.get(language).get('language_desc') }}" data-bs-custom-class="custom-tooltip-style" alt="A box containing the letter I, this is an information icon." height="16">
            </label>
          </div>
        </li>
        <li class="dropdown-item float-dropdown-option cookie-banner-switch-container">
          <div class="form-check form-switch">
            <input class="form-check-input cookie-banner-switch" type="checkbox" role="switch" id="endpoint" aria-label="{{ current.cookie_banner.get(language).get('endpoint') }}" switch>
            <label class="form-check-label d-flex justify-content-between align-items-center" for="endpoint">
              {{ current.cookie_banner.get(language).get('endpoint') }}
              <img src="../static/assets/svg/info.svg" class="tooltip-img svg-color-by-theme" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ current.cookie_banner.get(language).get('endpoint_desc') }}" data-bs-custom-class="custom-tooltip-style" alt="A box containing the letter I, this is an information icon." height="16">
            </label>
          </div>
        </li>
        <li class="dropdown-item float-dropdown-option cookie-banner-switch-container">
          <div class="form-check form-switch">
            <input class="form-check-input cookie-banner-switch" type="checkbox" role="switch" id="scheme" aria-label="{{ current.cookie_banner.get(language).get('scheme') }}" switch>
            <label class="form-check-label d-flex justify-content-between align-items-center" for="scheme">
              {{ current.cookie_banner.get(language).get('scheme') }}
              <img src="../static/assets/svg/info.svg" class="tooltip-img svg-color-by-theme" tabindex="0" data-bs-toggle="tooltip" data-bs-placement="right" title="{{ current.cookie_banner.get(language).get('scheme_desc') }}" data-bs-custom-class="custom-tooltip-style" alt="A box containing the letter I, this is an information icon." height="16">
            </label>
          </div>
        </li>
        <li class="float-dropdown-item-group">
          <button class="btn float-dropdown-button" type="button" data-action="toggle-all" data-state="false">
            {% if language == "en-US": %}
              Reject all
            {% elif language == "zh-TW": %}
              全部拒絕
            {% endif %}
          </button>
          <button class="btn float-dropdown-button" type="button" data-action="toggle-all" data-state="true">
            {% if language == "en-US": %}
              Accept all
            {% elif language == "zh-TW": %}
              全部同意
            {% endif %}
          </button>
        </li>
        <li class="text-center no-margin cookie-banner-footer float-dropdown-item-group">
          <div class="cookie-banner-footer-item">
            <span class="cookie-remove-link" role="link" data-action="remove-all" tabindex="0" lang="{{ language }}">
              {% if language == "en-US": %}
                Remove All Cookie
              {% elif language == "zh-TW": %}
                刪除全部 Cookie
              {% endif %}
            </span>
          </div>
          <div class="cookie-banner-footer-item">
            <a href="{{ url_for('policy') }}" class="policy-text" lang="{{ language }}">
              {% if language == "en-US": %}
                Privacy Policy
              {% elif language == "zh-TW": %}
                隱私權政策
              {% endif %}
            </a>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-group dropup float-dropdown theme-banner" role="group" lang="{{ language }}">
      <button 
        type="button" id="theme-switcher" class="btn dropdown-toggle float-dropdown-menubutton focus-button" data-bs-toggle="dropdown" aria-expanded="false"
        {% if language == 'en-US': %}
          aria-label="Toggle theme and switch language"
        {% elif language == 'zh-TW': %}
          aria-label="切換主題與語言"
        {% endif %}
      >
      <img class="svg-color-by-theme" src="../static/assets/svg/quill-draw-{{ language }}.svg" alt="A quill and the English letter 'A'." height="32">
      </button>
      <ul class="dropdown-menu">
        <li>
          <a class="dropdown-item float-dropdown-option" href="{{ url_for('switch_language') }}" aria-label="{{ current.theme_switcher.get(language).get('language') }}">
            <img src="../static/assets/svg/lang-{{ language }}.svg" class="svg-color-by-theme" alt="The logo of Google translation." height="24">
            {{ current.theme_switcher.get(language).get("language") }}
          </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li><button class="dropdown-item float-dropdown-option" data-bs-theme-value="light" aria-label="{{ current.theme_switcher.get(language).get('ligt') }}">
          <img src="../static/assets/svg/sun-fill.svg" class="svg-color-by-theme" alt="A radiant sun." height="24">
          {{ current.theme_switcher.get(language).get("ligt") }}
        </button></li>
        <li><button class="dropdown-item float-dropdown-option" data-bs-theme-value="dark" aria-label="{{ current.theme_switcher.get(language).get('dark') }}">
          <img src="../static/assets/svg/moon-stars-fill.svg" class="svg-color-by-theme" alt="The moon and shining stars." height="24">
          {{ current.theme_switcher.get(language).get("dark") }}
        </button></li>
        <li><button class="dropdown-item float-dropdown-option" data-bs-theme-value="auto" aria-label="{{ current.theme_switcher.get(language).get('auto') }}">
          <img src="../static/assets/svg/sun-and-moon.svg" class="svg-color-by-theme" alt="A sun cradled by a crescent moon." height="24">
          {{ current.theme_switcher.get(language).get("auto") }}
        </button></li>
      </ul>
    </div>