{% include "header.html" %}

<div class="base-color">
  <!-- blob -->
  <div class="blob"></div>
  <div class="spacer-top"></div>
  <div class="post-content">
    {% for project in db_data: %}
      <div class="post-block bg-dark">
        <div class="post row rounded-4 shadow-lg">
          <div class="col-xxl-6 code-block">
            <div class="d-flex flex-row">
              <h1 class="display-4 fw-bold lh-1 text-white justify-content-end">{{ project.apd_title }}</h1>
              <!-- TODO: add link to demo -->
               <!-- https://stackoverflow.com/questions/7693224/how-do-i-right-align-div-elements -->
               <div class="div-in-flex-container-right-align">
                 <button class="btn btn-outline-secondary btn-lg" title="Demo is not the final product.">
                   <p class="pacifico-regular font-size-fixed">
                     demo
                   </p>
                 </button>
                 <button type="button" class="btn btn-outline-secondary btn-lg">
                   <img src="../static/assets/svg/github.svg" class="svg-whitened" alt="a line draw image of github" height="30">
                 </button>
               </div>
            </div>
            
            
            <!-- <br style="color: white;"> -->
            
            <hr class="code-separator">

            <div class="mx-auto code-text">
              <p class="code-preview">
                {{ project.apd_desc }}
                <!-- TODO: add disclaimer: demo and completed project have different code!  -->
              </p>
            </div>
          </div>
          <div class="col-xxl-6 result-block">
              <div class="container no-padding">
                {% if project.apd_preview == "video": %}
                  <video controls class="d-block w-100">
                    <!-- https://stackoverflow.com/questions/27752500/how-to-have-an-anim-gif-on-a-link-and-play-it-on-hover-and-reset -->
                    <source src="{{ project.apd_videos }}" type="video/mp4" />
                  </video>
                {% elif project.apd_preview == 'image': %}
                  <!-- TODO: delete all word "example" -->
                  <div id="carouselExampleIndicators" class="carousel slide">
                    <div class="carousel-indicators">
                      <!-- if somehow someday there's only one preview-image in a project shown add code here.  -->
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      {% for num in image_nums: %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ num + 1 }}" aria-label="Slide {{ num + 2 }}"></button>
                      {% endfor %}
                    </div>
                    
                    <!-- TODO: set image from db, project_video -->
                    <div class="carousel-inner">
                      {% if first_loc != "": %}
                        <div class="carousel-item active" data-bs-interval="6000">
                          <img src="{{ first_loc[project.apd_id] }}" class="d-block w-100" alt="a image of preview code">
                        </div>
                        {% for loc in image_locs[project.apd_id] %}
                          <div class="carousel-item" data-bs-interval="6000">
                            <img src="{{ loc }}" class="d-block w-100" alt="a image of preview code">
                          </div>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <button class="carousel-control-prev carousel-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next carousel-btn" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
      <div class="spacer-between"></div>
    {% endfor %}
  </div>
</div>

<div class="spacer-bottom"></div>

{% include "footer.html" %}