{% for category, info in content.items(): %}
  <dl lang="Not-Applicable">
    <h3>
      {{ category }}
    </h3>
    <dt>
      {{ info.get('description') }}
    </dt>
    {% for tool in info.get('tools') %}
      <p>
        <dt>
          <a href="{{ tool.get('href') }}" class="tools-href">
            <img class="tools-favicon" src="http://www.google.com/s2/favicons?domain={{ tool.get('href') }}" alt="The favicon of the website,a favicon (favorite icon) is a tiny icon included along with a website, which is displayed in places like the browser's address bar.">
            {{ tool.get('title') }}
          </a>
          <dd>
            {% for paragraph in tool.get('description').get(current.language) %}
              {{ paragraph | safe }}
            {% endfor %}
          </dd>
        </dt>
      </p>
    {% endfor %}
  </dl>
{% endfor %}
